#wrapper {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    #profilpic {
        width: 30%;
    }
    #canvas {
        position: absolute;
        right: 3rem;
        top: 10rem;
    }
}