@import "./shared/scss/general/general";
#wrapper {
    box-sizing: border-box;
    height: 100vh;
    overflow: hidden;
    position: relative;
    width: 100vw;
    #profilpic {
        width: 30%;
    }
    #canvas {
        height: 100vh;
        position: absolute;
        width: 100vw;
    }
}