@import "../shared/scss/general/general";
#wrapper {
    height: 100%;
    left: -1rem;
    position: absolute;
    top: -1rem;
    width: 100%;
    z-index: -10;
    #background-image {
        @include filter(blur(20px) grayscale(50%));
        @include transition((opacity 2s, filter 2s));
        left: 0;
        position: absolute;
        top: 0;
        min-height: calc(100% + 2rem);
        min-width: calc(100% + 2rem);
        opacity: 0;
    }
    .active {
        @include filter-i(blur(2px) grayscale(30%));
        opacity: 1 !important;
    }
    .mobile {
        @media screen and (min-width: $tablet-min) {
            display: none;
        }
    }
    .tablet {
        display: none;
        @media screen and (min-width: $tablet-min) {
            display: inline;
        }
        @media screen and (min-width: $desktop-min) {
            display: none;
        }
    }
    .desktop {
        display: none;
        @media screen and (min-width: $desktop-min) {
            display: inline;
        }
    }
}