<div id="swiper-slide-wrapper">
    <div class="swiper-slide" [ngClass]="isSlideVisible(0) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_wald">
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(1) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_berge">
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(2) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_innerwise">
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(3) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_pseLink">
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(4) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_kinder">
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(5) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_wasserfall">
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(6) ? 'finished' : 'ready'">
        <img src="../../assets/pics/louvre.jpg" alt="swiper_pfadfinderBär">
    </div>
</div>