<div id="swiper-slide-wrapper">
    <div class="swiper-slide" [ngClass]="isSlideVisible(0) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_wald">
        </a>
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(1) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_berge">
        </a>
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(2) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_innerwise">
        </a>
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(3) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_pseLink">
        </a>
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(4) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_kinder">
        </a>
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(5) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_wasserfall">
        </a>
    </div>
    <div class="swiper-slide" [ngClass]="isSlideVisible(6) ? 'finished' : 'ready'">
        <a href="http://idee-und-idyll.de" target="_blank">
            <img src="../../assets/pics/louvre.jpg" alt="swiper_pfadfinderBär">
        </a>
    </div>
</div>